<!DOCTYPE html>
<html>
  <%- include('_head'); -%>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Dastan Aitzhanov</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">About</a>
          <a class="nav-item nav-link active" href="/experience">Experience <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/projects">Projects</a>
          <a class="nav-item nav-link" href="/contact">Contact</a>
        </div>
      </div>
    </nav>
    <div class="container-fluid d-flex justify-content-center">
      <div class="col-xs-12 col-md-11 mb-5">
        <div class="row mt-5 d-flex justify-content-center">
          <div class="col-xs-12 col-md-6 pb-2 text-center border-bottom">
              <h1>Experience</h1>
              <span><a href="public_assets/pantzar-resume-wd.pdf"><i class="fas fa-file-pdf px-2"></i>Resume</a></span>
          </div>
        </div>
        <div class="row mt-4 d-flex justify-content-center">
          <div class="col-10 mt-4">
            <h3>Board Advisor & Investor</h3>
            <h5 class="text-muted">MetaVi Labs, Inc.</h5>
            <div div class="pb-4">Aug 2015 - Present</div>
            <p>
                MetaVi Labs is technology start-up, which developed a revolutionary cell tracking technology used for streamlining 
                chemotaxis assay measurement and analysis. It markets the technology as a SaaS to scientists and researchers globally.
            </p>
          </div>
        </div>
        <hr />
        <div class="row mt-4 d-flex justify-content-center">
          <div class="col-10 mt-4">
            <h3>Founder & Manager</h3>
            <h5 class="text-muted">DGI Capital Management, LLC</h5>
            <div div class="pb-4">Jan 2013 - Present</div>
            <p>
                DGI Capital is private investment advisory firm, which serves a foreign family office with an investment focus on 
                managing an in-house long/short equity hedge fund out of the Austin office and a mezzanine debt fund with a regional 
                focus on the CIS out of the Istanbul office.
            </p>
            <p>
                Managed both funds from inception, including: originating the investment thesis, setting up master/feeder funds across 
                multiple jurisdictions, raising capital, setting-up offices in Istanbul and Austin, hiring talent, and managing 
                day-to-day operations. 
            </p>
            <p>
                Developed quantitative investment strategies in Python and Matlab and led a small team of analysts and software engineers 
                to build and deploy proprietary tools that leveraged machine learning and artificial intelligence.
            </p>
          </div>
        </div>
        <hr />
        <div class="row mt-4 d-flex justify-content-center">
          <div class="col-10 mt-4">
            <h3>Managing Director</h3>
            <h5 class="text-muted">Dastan Group</h5>
            <div div class="pb-4">Apr 2011 - Dec 2015</div>
            <p>
                Dastan Group of Companies is a middle-market diversified real estate development and investment company with headquarters 
                located in Aktobe, Kazakhstan. The company employs over 650 people across its portfolio companies in real-estate brokerage, 
                commercial real estate development, and hospitality/property management divisions. 
            </p>
            <p>
                Implemented and coordinated capital term sheet re-structure which increased portfolio WACC to 18.3% and reduced cost of 
                financing by 23% through establishing a strategic relationship with UniCredit Bank, and raising capital through 
                mezzanine financing.
            </p>
            <p>
                Developed vision and set strategic direction to portfolio company executives in line with targets for ROI and growth and 
                implementation of strategic initiatives.
            </p>
            <p>
                Responsible for recruiting and managing incentive pay for portfolio company executives across all portfolio companies.
            </p>
          </div>
        </div>
        <hr />
        <div class="row mt-4 d-flex justify-content-center">
          <div class="col-10 mt-4">
            <h3>Director of Real Estate</h3>
            <h5 class="text-muted">Dastan Group</h5>
            <div div class="pb-4">Dec 2005 - Mar 2011</div>
            <p>
                Responsible for managing the commercial real estate portfolio. Increased ROI by 63% and yield by 46% over a 2-year period.
            </p>
            <p>
                Successfully advised and brokered the biggest real-estate deal in Aktobe, Kazakhstan to date, a $100M land acquisition and 
                office development for the China National Petroleum Corporation.
            </p>
            <p>
                Guided the management team through an annual planning cycle, including: review and approval of business plans, operating 
                and capital budgets, and setting targets for KPIs.
            </p>
            <p>
                Managed a $15M annual investment budget for new commercial real-estate development projects, including: design and coordinating 
                construction project execution.
            </p>
            <p>
                Implemented a comprehensive corporate governance development initiative, which included: instituting a board of directors, 
                hiring independent directors and ex-patriot CEOs for portfolio companies, overhauling organizational and sub-organizational 
                alignment, and deploying an ERP system across the portfolio companies. 
            </p>
            <p>
                Sourced subsidies and grants through IFC, EBRD, and various state sponsored programs to pay for 80% of the cost of external 
                consultants: Delloite, KPMG, & Pioneer ERP Consultants.
            </p>
          </div>
        </div>
        <hr />
        <div class="row mt-4 d-flex justify-content-center">
          <div class="col-10 mt-4">
            <h3>Project Management Engineer</h3>
            <h5 class="text-muted">Betchel Group</h5>
            <div div class="pb-4">Jul 2004 - Sep 2005</div>
            <p>
                Bechtel Corporation (Bechtel Group) is the largest construction and civil engineering company in the United States and the 
                9th-largest privately owned American company in 2016. Advised and proposed solutions to senior executives and project 
                managers in the Oil, Gas, and Chemicals GBU on multibillion dollar projects, including: anticipating and mitigating schedule 
                conflicts or critical path impact, project staffing, and sub-contract management.
            </p>
          </div>
        </div>
        <hr />
        <div class="row mt-5 d-flex justify-content-center">
          <div class="col-12 text-center">
            <a href="/projects" class="btn btn-outline-secondary">Projects<i class="fas fa-arrow-right pl-3"></i></a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include('_bootscripts'); -%>
</html>
